<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <body>
      <h3>Edit your details here:</h3>
      <form
        method="post"
        action="/listings/<%= listing._id %>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            id="title"
            class="form-control"
            value="<%= listing.title %>"
            required
          />
          <div class="valid-feedback">Title looks good!!</div>
          <div class="invalid-feedback">Title shouldn't be empty</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            required
            id="description"
            class="form-control"
          >
<%= listing.description %></textarea
          >
          <div class="valid-feedback">Description looks good!!</div>
          <div class="invalid-feedback">Description shouldn't be empty</div>
        </div>
        <div class="mb-3">
          Original Listing Image <br>
          <img src="<%= originalImageUrl %>" alt="original_image">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input
            type="file"
            name="listing[image]"
            id="image"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              id="price"
              class="form-control"
              required
              value="<%= listing.price %>"
            />
            <div class="valid-feedback">Price looks good!!</div>
            <div class="invalid-feedback">Price is invalid</div>
          </div>
          <div class="mb-3 col-md-4">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              id="country"
              class="form-control"
              required
              value="<%= listing.country %>"
            />
            <div class="valid-feedback">Country looks good!!</div>
            <div class="invalid-feedback">Country shouldn't be empty</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            id="location"
            class="form-control"
            required
            value="<%= listing.location %>"
          />
          <div class="valid-feedback">Location looks good!!</div>
          <div class="invalid-feedback">Location shouldn't be empty</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
      </form>
      <br />
    </body>
  </div>
</div>
